[Unit]
Description=Run DLT backup

[Service]
Type=oneshot
ExecSearchPath=%h/.local/bin:/usr/local/bin:/usr/bin
ExecStart=dlt-backup --notify --notify-once-daily
